
@{
    ViewBag.Title = "ListsAndCollections";
}

<h2>Your seat reservations</h2>
<table>
    <thead>
        <tr>
            <th>Passenger name</th>
            <th>Meal</th>
            <th>Surcharge</th>
        </tr>
    </thead>
    <tbody data-bind="foreach:seats">
        <tr>
            <td data-bind="text:name"></td>
            @*<td data-bind="text:meal().mealName"></td>*@
            <td><select data-bind="options: $root.availableMeals, value: meal, optionsText: 'mealName'"></select></td>
            <td data-bind="text:formattedPrice"></td>
            <td><a href="#" data-bind="click: $root.removeSeat">Remove</a></td>
        </tr>
    </tbody>
</table>
<h3 data-bind="visible: totalSurcharge() > 0">
    Total surcharge: $<span data-bind="text: totalSurcharge()"></span>
</h3>
<h3>
    Your seat reservations: <span data-bind="text: seats().length"></span>
</h3>

<button data-bind="click: addSeat, enable: seats().length < 4">Reserve another seat</button>

<script src="~/Scripts/custom/ListsAndCollections.js"></script>


